{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepassword" method="post">
        <div class="input-box">
            <input autocomplete="off" autofocus class="input-field" name="oldpass" placeholder="Old password" type="password">
        </div>
        <div class="input-box">
            <input autocomplete="off" autofocus class="input-field" name="newpass" placeholder="New password" type="password">
        </div>
        <button class="btn btn-outline-primary" type="submit">Change</button>
    </form>
{% endblock %}