{% extends "layout.html" %}

{% block title %}
    Main Page
{% endblock %}

{% block main %}
<div class="section">
    <h2>Food Conscious</h2>
    <p>Hello! Food Conscious is a health web application that I (Isabella) designed for my CS50x project using mainly Python, CSS and HTML. It has 2 main parts: the <a href="/logbook">food logbook</a> and <a href="/kjcalc">food energy calculator</a>. I hope you enjoy this web app :)</p>
</div>

<div class="section">
    <h2>How to Use Food Conscious</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dR1ocMMoRgc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}